@using BSuit.API.Infrastructure.Services
@using BSuit.Core.Data
@using System.Security.Claims

@inject MenuService MenuService
@inject BSuit.Contracts.Services.IUserContext UserContext

@{
    var roleId = User.Claims
        .FirstOrDefault(x => x.Type == "RoleId")?.Value;

    var isSuperAdmin = User.IsInRole(BSuit.Identity.AppRoles.SUPERADMIN);

    var currentUrl = Context.Request.Path.ToString();

    var menus = await MenuService.GetMenuAsync(
        roleId,
        isSuperAdmin,
        currentUrl);

    ViewBag.Menus = menus;
    ViewBag.CurrentUrl = currentUrl;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BSuit: @User.Identity?.Name</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
          rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- Custom CSS -->
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="~/css/site.css"
          asp-append-version="true" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <!-- Global Loader -->
    <div id="globalLoader" style="display:none;">
        <div class="loader-overlay">
            <div class="loader-spinner"></div>
        </div>
    </div>
    <div class="app-page">

        <!-- Sidebar -->
        @if (User.Identity?.IsAuthenticated == true)
        {
            <div id="sidebar" class="sidebar collapsed">
                <!-- Logo -->
                <div class="logo">
                    <img src="~/images/logo-icon.png" />
                    <span>
                        <img src="~/images/logo-text.png" />
                    </span>
                </div>

                <!-- Role Panel -->
                <div class="p-3 border-bottom text-white fw-bold">
                    @{
                        var roleName = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
                    }

                    @roleName Panel
                </div>

                <!-- Dynamic Menu -->
                <div class="left-nav">

                    @foreach (var item in menus)
                    {
                        <!-- Parent Menu -->
                        <div class="menu-item @(item.IsActive || item.HasActiveChild ? "active" : "")"
                             onclick="toggleMenu(this)">

                            <div class="menu">

                                <div class="d-flex align-items-center gap-2">
                                    <a href="@item.Url" title="@item.Name"
                                       class="text-white text-decoration-none @(item.IsActive ? "active" : "")">
                                        <i class="@item.Icon"></i>
                                    </a>
                                    @if (!item.Children.Any())
                                    {
                                        <a href="@item.Url" title="@item.Name"
                                           class="text-white text-decoration-none @(item.IsActive ? "active" : "")">

                                            <span class="menu-name">
                                                @item.Name
                                            </span>
                                        </a>
                                    }
                                    else
                                    {
                                        <span class="menu-name" title="@item.Name">
                                            @item.Name
                                        </span>
                                    }
                                </div>

                                @if (item.Children.Any())
                                {
                                    <i class="bi bi-chevron-right arrow @(item.HasActiveChild ? "rotate" : "")"></i>
                                }

                            </div>
                        </div>

                        <!-- Child Menu -->
                        @if (item.Children.Any())
                        {
                            <div class="submenu @(item.HasActiveChild ? "active" : "")"
                                 style="@(item.HasActiveChild ? "display:block;" : "display:none;")">

                                @foreach (var child in item.Children)
                                {
                                    <a href="@child.Url" title="@item.Name"
                                       class="@(child.IsActive ? "active" : "")">
                                        @child.Name
                                    </a>
                                }
                            </div>
                        }
                    }

                </div>
            </div>
        }
        else
        {
            <div id="sidebar" class="sidebar collapsed">
                <!-- Logo -->
                <div class="logo">
                    <img src="~/images/logo-icon.png" />
                    <span>
                        <img src="~/images/logo-text.png" />
                    </span>
                </div>
            </div>
            <div class="left-nav" style="overflow-y:auto; overflow-x:hidden; height:100vh;">
            </div>
        }

        <!-- Main Content -->
        <div id="main" class="main collapsed">

            <!-- Header -->
            <div class="header">

                <div class="hdr-content-left">
                    <div class="burger" onclick="toggleSidebar()">
                        <i class="bi bi-list"></i>
                    </div>
                </div>

                <div class="hdr-content-right">
                    <a href="#"><i class="bi bi-grid icon-btn d-none d-sm-block"></i></a>
                    <a href="#"><i class="bi bi-sun icon-btn d-none d-sm-block"></i></a>
                    <a href="#"><i class="bi bi-gear icon-btn d-none d-sm-block"></i></a>
                    <!-- Notification -->
                    @await Component.InvokeAsync("Notification")

                    <!-- Profile -->
                    <div class="dropdown">

                        <div class="profile-img dropdown-toggle" data-bs-toggle="dropdown">
                            <img src="~/images/profile-img.jpg" />
                        </div>

                        <div class="dropdown-menu dropdown-menu-end shadow">

                            <div class="profile-header">
                                @User.Identity?.Name
                            </div>

                            <a href="/Home/MyProfile"
                               class="dropdown-item">
                                <i class="bi bi-person"></i>
                                View Profile
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="bi bi-gear"></i> Settings
                            </a>
                            <form asp-area="Identity"
                                  asp-page="/Account/Logout"
                                  method="post">

                                <button type="submit"
                                        class="dropdown-item">
                                    <i class="bi bi-box-arrow-right"></i>
                                    Logout
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Page Body -->
            <div class="container-fluid mt-3">
                @RenderBody()
            </div>

            <!-- Footer -->
            <div class="container-fluid footer">
                Copyright © @DateTime.UtcNow.Year
                Brickwork India.
                Designed and Developed by Brickwork India.
            </div>

        </div>
    </div>

    <!-- Global Loader -->
    <div id="globalLoader" style="display:none;">
        <div class="loader-overlay">
            <div class="loader-spinner"></div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Sidebar Toggle -->
    <script>
        function toggleSidebar() {
            document.getElementById('sidebar')
                .classList.toggle('collapsed');

            document.getElementById('main')
                .classList.toggle('collapsed');
        }
    </script>

    <!-- Menu Toggle -->
    <script>
        function toggleMenu(element) {
            const submenu = element.nextElementSibling;
            const arrow = element.querySelector('.arrow');

            if (!submenu) return;

            document.querySelectorAll('.submenu').forEach(menu => {
                if (menu !== submenu) {
                    menu.style.display = 'none';
                }
            });

            document.querySelectorAll('.arrow').forEach(a => {
                if (a !== arrow) {
                    a.classList.remove('rotate');
                }
            });

            submenu.style.display =
                submenu.style.display === 'block'
                    ? 'none'
                    : 'block';

            arrow.classList.toggle('rotate');
        }
    </script>

    <script>
        (function () {

            const timezone =
                Intl.DateTimeFormat().resolvedOptions().timeZone;

            fetch('/Home/SetTimeZone', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    timeZone: timezone
                })
            });

        })();
    </script>

    <script>

        function showLoader() {
            document.getElementById("globalLoader")
                .style.display = "block";
        }

        function hideLoader() {
            document.getElementById("globalLoader")
                .style.display = "none";
        }

        // -----------------------------
        // jQuery AJAX
        // -----------------------------
        $(document).ajaxStart(function () {
            showLoader();
        });

        $(document).ajaxStop(function () {
            hideLoader();
        });

        // -----------------------------
        // Form Submit
        // -----------------------------
        $(document).on("submit", "form", function () {

            const form = $(this);

            // avoid loader for GET search/filter forms if needed
            if (form.attr("method")?.toLowerCase() !== "get") {
                showLoader();
            }
        });



        // -----------------------------
        // Back Button / Page Restore
        // -----------------------------
        window.addEventListener("pageshow", function () {
            hideLoader();
        });

    </script>

    @RenderSection("Scripts", required: false)

    <style>

        /* Scrollable menu */
        
        .left-nav {
            flex: 1;
            padding-bottom: 20px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100vh;
        }

            .left-nav .menu-item {
                padding: 1px 20px !important;
            }


        /* FIX HEADER */
        .header {
            position: sticky;
            top: 0;
            z-index: 999;
            background: #fff;
            padding: 12px 20px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        }
    </style>
</body>
</html>